CTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%#= stylesheet_link_tag 'common', 'comments', 'forms', 'forum', :cache => 'globalize' %>
    <%= theme_stylesheet_link_tag 'globalize', 'globalize', 'default', 'forms' %>
    <%= theme_javascript_include_tag 'globalize', 'globalize' %>
    <%#= javascript_include_tag :common, :default, 'globalize', :cache => 'globalize' %>
    <%= @topic ? authorize_elements(@topic) : authorize_elements %>
    <title><%= @site.title %></title>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <form id="search" style="display:none">
          <input name="page[name]" class="text" type="text" value="search" onclick="if(this.value == 'search') this.value = ''">      
        </form>
        <h1><a href="/">Globalize</a><span>for Ruby on Rails</span></h1>
        <ul id="menu">
          <li class="first"><a href="/wikipages">All Pages</a></li>
          <!--li><a href="/recent_activity">Recent</a></li-->
          <!--li><a href="/authors">Authors</a></li-->
          <!--li><a href="/home.atom">Atom Feed</a></li-->
          <li><a href="/admin">Admin</a></li>
          <li><a href="/login">Login</a></li>
        </ul>   
        <h2>Webapplication Internationalization that doesn't hurt</h2>
        <!--p>Globalize is a Ruby on Rails plugin designed to support multilingual applications. It’s under the MIT License, same as Ruby on Rails.</p-->
        <ul id="main-nav">
          <li>
            <h3><a href="/">What is Globalize?</a></h3>
            <a href="#news">News</a>,
            <a href="#overview">Overview for busy people</a>,
            <a href="#screencast">Screencast</a>
          </li>
          <li>
            <h3><a href="/wikipages/features">Features</a></h3>
            <a href="/wikipages/features#overview">Overview</a>,
            <a href="/wikipages/features#comparsion">Comparsion to others</a>
          </li>
          <li>
            <h3><a href="/wikipages/getting-started">Get started</a></h3>
            <a href="/wikipages/getting-started#install">Download & install</a>,
            <a href="/wikipages/getting-started#walkthroughs">Walkthroughs</a>
          </li>
          <li>
            <h3><a href="/wikipages/documentation">Documentation</a></h3>
            <a href="/wikipages/frequently-asked-questions">FAQ</a>,
            <a href="/wikipages/documentation#api">API docs</a>,
            <a href="/wikipages/documentation#howtos">Howtos</a>,
            <a href="/wikipages/documentation#overviews">Overviews</a>,
            <a href="/wikipages/documentation#recipes">Recipes</a>, ...
          </li>
          <li>
            <h3><a href="/wikipages/community">Community</a></h3>
            <a href="/wikipages/community#mailinglist">Mailinglist</a>,
            <a href="/wikipages/community#issues">Issue tracker</a>,
            <a href="/wikipages/community#team">Team &amp; Acknowledgements</a>
          </li>
        </ul>
      </div>
      
      <div id="content">
        <%= render :partial => 'shared/flash' %>  
        <%= yield %>
      </div>
      <%= yield :footer or render :partial => 'shared/footer' %>
    </div>    
    
  </body>
<script type="text/javascript">
  var traffic_url = 'http://traffic.artweb-design.de'
</script>
<script src="http://traffic.artweb-design.de/javascripts/hit.js?1198760797" type="text/javascript"></script>
</html>
